@use "../../../node_modules/bootstrap/scss/bootstrap.scss";
@use "./partials/variables.scss" as *;
@use "./partials/header.scss";
@use "./partials/main.scss";
@use "./partials/footer.scss";

/* common rules */
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* colors */
h2,
h3,
h5 {
  color: $dark_hash;
}
