@use "./variables.scss" as *;

header {
  position: fixed;
  z-index: 100;
  left: 0;
  width: 100%;

  .header_top {
    background-color: $dark_hash;
    padding: 0.5rem 0.3rem 0.5rem 0;
    font-size: $fs-xs;

    .col {
      color: $dark_hash;
      filter: brightness(230%);
    }
  }

  .header_bottom {
    background-color: rgba($dark_hash, 0.5);
    font-size: $fs-md;
    font-weight: 700;
    padding: 1.5rem 0 1.5rem 0;
    a {
      color: $lighter;
    }
    ul {
      position: relative;
      display: flex;
      li {
        padding-inline: 2.6rem;
      }
    }
    .corner {
      background-color: $primary;
      color: $lighter;
      position: absolute;
      top: 2px;
      right: 273px;
      font-size: $fs-xs;
    }
  }
}
