@use "./variables.scss" as *;

main {
  .jumbotron {
    background-image: url("/images/homepage-hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;

    .container {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      color: $lighter;
    }
    .p {
      font-size: $fs-md;
    }
    .square {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50px;
      aspect-ratio: 1;
      background-color: $lighter;
      color: $primary;
      .calendar {
        color: $dark_hash;
      }
      &.cost {
        position: absolute;
        right: -150px;
        top: 170px;
        box-shadow: 2px 2px 10px 2px $dark_hash;
      }
      &.demos {
        position: absolute;
        right: -150px;
        top: 110px;
        box-shadow: 2px 2px 10px 2px $dark_hash;
      }
      .price {
        font-weight: 900;
      }
      .on_sale {
        font-size: $fs-xs;
        color: $darker;
      }
    }
  }
  /* /.jumbotron */
  .book_lesson {
    margin-bottom: 2rem;
    p {
      color: $dark_hash;
      filter: brightness(200%);
      line-height: 1.8;
    }
    .title {
      h2 {
        padding-top: 5rem;
        padding-bottom: 2.5rem;
        color: $dark_hash;
      }
      p:first-of-type {
        font-size: $fs-md;
      }
      p:last-of-type {
        font-size: $fs-sm;
      }
    }
    .contact_us {
      .card {
        padding: 2.5rem;
        box-shadow: 2px 25px 15px -2px $light_hash;
        margin-top: -2rem;

        h3 {
          color: $primary;
          padding-bottom: 1rem;
        }
        p {
          font-size: $fs-md;
        }
        input {
          margin-bottom: 1.7rem;
          padding: 0.8rem;
          background-color: $light_hash;
          opacity: 0.6;
          border-radius: 0.5rem;
          border: 0.1rem solid $light_hash;
          outline-style: none;
        }
        button {
          background: $primary;
          filter: saturate(1.5);
          color: $lighter;
          font-size: $fs-md;
          font-weight: 700;
          padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        }
        svg {
          position: absolute;
          right: 50px;
          top: 200px;
        }
      }
    }
  }
  /* /.book_lesson */
  .cta {
    background-image: url(/images/horizontal-cta-background.jpg);
    background-size: cover;
    background-position: center;
    color: $lighter;
    padding: 3rem 1.5rem 3rem 0;

    h2 {
      color: $lighter;
    }
    .col:last-of-type {
      align-self: center;
      text-align: right;
      font-size: 1.5rem;
      svg {
        transform: rotate(270deg);
        margin-right: 1rem;
      }
    }
  }
  /* /.cta */
  .courses {
    background-image: url("/images/promise-background.jpg");
    background-size: cover;
    background-position: bottom;
    padding-top: 0.5rem;
    padding-bottom: 3rem;

    .card {
      margin-top: -2rem;
      width: 70%;
      position: relative;

      p {
        color: $dark_hash;
        filter: brightness(200%);
        line-height: 1.8;
      }
      button {
        filter: saturate(1.5);
      }
      .corner {
        width: 50px;
        position: absolute;
        border-radius: 0.2rem;
        top: 0;
        left: 0;
      }
    }
    .col:last-of-type {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      color: $secondary;

      img {
        width: 200px;
        aspect-ratio: 1;
      }

      button {
        border: 3px solid $secondary;
        color: $secondary;
        background: none;
        padding: 0.5rem 1rem;
      }
    }
  }
  /* /.courses */
  .statistics {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-image: url("/images/latestnews-bottom.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: $bg_transparent;

    .card {
      border-top: 3px solid $primary;
      align-items: center;

      .circle {
        border-radius: 100%;
        width: 150px;
        aspect-ratio: 1;
        border: 5px solid $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        padding-bottom: 0.2rem;
      }

      h6,
      .number {
        color: $dark_hash;
        filter: brightness(200%);
      }
    }
  }
  /* /.statistics */
  .instructors {
    p {
      color: $dark_hash;
      filter: brightness(200%);
      line-height: 1.8;
    }
    .card {
      border-top: 3px solid $primary;
      h5 {
        padding-top: 0.5rem;
      }
    }
    .row:first-of-type {
      .col:last-of-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5rem;

        button {
          filter: saturate(1.5);
        }
      }
    }
  }
  /* /.instructors */
  .testimonials {
    padding-top: 5rem;
    padding-bottom: 6rem;
    background-image: url("/images/testimonial-background.jpg");
    background-size: cover;
    background-position: center;

    p {
      color: $dark_hash;
      filter: brightness(200%);
      line-height: 1.8;
    }

    img {
      width: 100px;
    }
    h5 {
      filter: brightness(200%);
    }
    .testimonial_review {
      width: 50%;

      .container {
        display: flex;
        gap: 1rem;
        width: 25%;
      }
      .circle {
        width: 15px;
        border-radius: 100%;
        aspect-ratio: 1;
        border: 1px solid $dark_hash;
        filter: brightness(200%);
      }

      .circle.active {
        background-color: $dark_hash;
        filter: brightness(200%);
      }
    }
  }
  /* /.testimonials */
  .news {
    background-image: url("/images/latestnews-background.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 1rem;

    .container {
      display: flex;
      flex-direction: column;
    }

    .card {
      border-top: 5px solid $secondary;
      position: relative;
      top: -1.5rem;
      box-shadow: 0px 16px 23px 7px $primary_dark;
      padding-bottom: 0.5;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .triangle {
      position: relative;
      z-index: 1;
      top: -1.5rem;
    }
    h5,
    button {
      color: $primary;
      filter: saturate(1.5);
    }
    p,
    .caption {
      color: $dark_hash;
      filter: brightness(200%);
      line-height: 1.8;
    }
    .comments {
      color: $primary;
      filter: brightness(50%);
    }
    .caption {
      font-size: $fs-sm;
    }
  }
  /* /.news */
  .newsletter {
    background-image: url("/images/newsletter_background.jpg");
    background-size: cover;
    background-position: center;
    padding: 2rem 0 2rem 0;

    .container {
      display: flex;
      flex-direction: column;
      width: 50%;
      filter: saturate(1.5);

      input {
        border: 0.1px solid $light_hash;
        outline-style: none;
      }
      p {
        color: $dark_hash;
        filter: brightness(200%);
        font-size: $fs-sm;
      }
    }
  }
  /* /.newsletter */
}
