/* Color palette */

/* primary */
$primary_light: #85b680;
$primary: #79b27b;
$primary_dark: #48644b;
$primary_dark_shade: #3f4843;
$primary_darker: #0f1d1f;

/* lighter/darker */
$lighter: #ffff;
$darker: #040b11;

/* secondary */
$secondary_light: #79b7e4;
$secondary: #7f9ea8;
$secondary_dark: #036db4;

/* danger */
$danger_light: #db677d;
$danger: #e32929;
$danger_dark: #d82b32;
$danger_dark_shade: #9f1726;
$danger_darker: #78020f;

/* other colors */
$light_hash: #b6b7b9;
$dark_hash: #484848;

$sand_light: #d6c9b0;
$sand: #d2b899;
$sand_dark: #93806f;

/* tipography */
$fs-xs: 0.625rem;
$fs-sm: 0.75rem;
